In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# upgrade xlrd used for xls format...will reload as xlsx
!pip install --upgrade xlrd

Mounted at /content/drive
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (1.2.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.2 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.2.0
    Uninstalling xlrd-1.2.0:
      Successfully uninstalled xlrd-1.2.0
Successfully installed xlrd-2.0.1

In [ ]:
import pandas as pd
import numpy as np

#note to self: Still need 2000. 2005 is in an xls. Reload as xlsx

# Table 1: 2005 Poverty and Median Income Estimates - Counties                             
# Source: U.S. Census Bureau, Small Area Estimates Branch                              
# Release date: 1.2008
df05 = pd.read_excel(r'/content/drive/My Drive/Team 55/Team 55 [NEW]/Data/census/poverty_median_income/est05all.xlsx', sheet_name= 'Sheet1', header=2 ,na_values=['NA'],usecols='A:M, W:Y', nrows=3192)

# Table 2: 2010 Poverty and Median Income Estimates - Counties                             
# Source: U.S. Census Bureau, Small Area Estimates Branch                             
# Release date: 11.2011
df10 = pd.read_excel(r'/content/drive/My Drive/Team 55/Team 55 [NEW]/Data/census/poverty_median_income/est10all.xlsx', header=2 ,na_values=['NA'],usecols='A:M, W:Y', nrows=3192)

# 2015 Poverty and Median Household Income Estimates - Counties, States, and National
# Source:  U.S. Census Bureau, Small Area Income and Poverty Estimates (SAIPE) Program
# Release date:  December 2016

df15 = pd.read_excel(r'/content/drive/My Drive/Team 55/Team 55 [NEW]/Data/census/poverty_median_income/est15all.xlsx', header=3 ,na_values=['NA'],usecols='A:M, W:Y', nrows=3192)


# 2020 Poverty and Median Household Income Estimates - Counties, States, and National
# Source:  U.S. Census Bureau, Small Area Income and Poverty Estimates (SAIPE) Program
# Release date: 

df20 = pd.read_excel(r'/content/drive/My Drive/Team 55/Team 55 [NEW]/Data/census/poverty_median_income/est20all.xlsx', header=3 ,na_values=['NA'],usecols='A:M, W:Y', nrows=3192)

df00Names = ['FIPS State Code','County FIPS Code', 'Poverty Estimate All Ages','90% CI Lower Bound','90% CI Upper Bound','Poverty Percent All Ages','90% CI Lower Bound.1', '90% CI Upper Bound.1','Poverty Estimate, Age 0-17', '90% CI Lower Bound.2','90% CI Upper Bound.2', 'Percent Poverty Estimate, Age 0-17', '90% CI Lower Bound.3','90% CI Upper Bound.3','Poverty Estimate, Age 5-17', '90% CI Lower Bound.4','90% CI Upper Bound.4','Percent Poverty Estimate, Age 5-17', '90% CI Lower Bound.5','90% CI Upper Bound.5','Median Household Income','90% CI Lower Bound.mh', '90% CI Upper Bound.mh','County Name','Postal Code','Tag','Creation Date']
df00 = pd.read_csv('/content/drive/My Drive/Team 55/Team 55 [NEW]/Data/census/poverty_median_income/est00all.csv', header=None, names = df00Names)

In [ ]:
#Just the Louisiana rows
la00 = df00.loc[df00['FIPS State Code'].astype(int) == 22]
la05 = df05.loc[df05['Postal'].astype(str) == 'LA']
la10 = df10.loc[df10['Postal'].astype(str) == 'LA']
la15 = df15.loc[df15['Postal Code'].astype(str) == 'LA']
la20 = df20.loc[df20['Postal Code'].astype(str) == 'LA']
la20.head()
#keep poverty Estimate, All Ages; Media Income drop all others
#combine by year

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,90% CI Upper Bound.2,Median Household Income,90% CI Lower Bound.6,90% CI Upper Bound.6
1133,22,0,LA,Louisiana,802040,780192,823888,17.8,17.3,18.3,258205,248346,268064,51730,50527,52933
1134,22,1,LA,Acadia Parish,12580,10378,14782,20.7,17.1,24.3,5123,4059,6187,45183,38648,51718
1135,22,3,LA,Allen Parish,4474,3506,5442,21.1,16.5,25.7,1340,980,1700,49671,44537,54805
1136,22,5,LA,Ascension Parish,12284,9273,15295,9.6,7.2,12,4318,2986,5650,88680,78493,98867
1137,22,7,LA,Assumption Parish,3382,2470,4294,15.8,11.5,20.1,1149,789,1509,52046,44423,59669

In [ ]:
la00.reset_index(inplace = True, drop = True) 
la00.head()

,FIPS State Code,County FIPS Code,Poverty Estimate All Ages,90% CI Lower Bound,90% CI Upper Bound,Poverty Percent All Ages,90% CI Lower Bound.1,90% CI Upper Bound.1,"Poverty Estimate, Age 0-17",90% CI Lower Bound.2,...,"Percent Poverty Estimate, Age 5-17",90% CI Lower Bound.5,90% CI Upper Bound.5,Median Household Income,90% CI Lower Bound.mh,90% CI Upper Bound.mh,County Name,Postal Code,Tag,Creation Date
0,22,0,753254,716877,789631,17.3,16.5,18.2,289137,267622,...,22.4,20.3,24.6,32124,30341,33907,89206 78514 99898 28.3 24.9 31.6 Louisiana,LA,est00ALL.dat,9-Oct-03
1,22,1,11322,8924,13720,19.6,15.4,23.7,4592,3593,...,24.8,18.6,30.9,28022,25990,30212,Acadia Parish,LA,est00ALL.dat,9-Oct-03
2,22,3,4517,3482,5551,21.4,16.5,26.4,1520,1181,...,23.1,17.2,28.9,28385,26297,30638,Allen Parish,LA,est00ALL.dat,9-Oct-03
3,22,5,8282,6528,10035,10.5,8.3,12.7,3493,2720,...,14.2,10.6,17.8,45398,42132,48916,Ascension Parish,LA,est00ALL.dat,9-Oct-03
4,22,7,4231,3334,5128,18.4,14.5,22.2,1645,1283,...,24.3,18.2,30.5,31923,29600,34427,Assumption Parish,LA,est00ALL.dat,9-Oct-03

In [ ]:
la05.reset_index(inplace = True, drop = True) 
la05 = la05.drop(columns=['90% CI Lower Bound', '90% CI Upper Bound', '90% CI Lower Bound.1', '90% CI Upper Bound.1', 'Poverty Estimate Under Age 18','90% CI Lower Bound.2', '90% CI Upper Bound.2', '90% CI Lower Bound.6', '90% CI Upper Bound.6'], axis = 1)

la05 = la05.rename(columns= {'State FIPS':'State FIPS Code', 'County FIPS':'County FIPS Code', 'Postal':'Postal Code'})
la05 = la05.assign(year = 2005).set_index('year', append=True)

la10.reset_index(inplace = True, drop = True) 
la10 = la10.drop(columns=['90% CI Lower Bound', '90% CI Upper Bound', '90% CI Lower Bound.1', '90% CI Upper Bound.1', 'Poverty Estimate Under Age 18','90% CI Lower Bound.2', '90% CI Upper Bound.2', '90% CI Lower Bound.6', '90% CI Upper Bound.6'], axis = 1)

la10 = la10.rename(columns= {'State FIPS':'State FIPS Code', 'County FIPS':'County FIPS Code', 'Postal':'Postal Code'})
la10 = la10.assign(year = 2010).set_index('year', append=True)

la15.reset_index(inplace = True, drop = True) 
la15 = la15.drop(columns=['90% CI Lower Bound', '90% CI Upper Bound', '90% CI Lower Bound.1', '90% CI Upper Bound.1', 'Poverty Estimate, Age 0-17','90% CI Lower Bound.2', '90% CI Upper Bound.2', '90% CI Lower Bound.6', '90% CI Upper Bound.6'], axis = 1)

la15 = la15.rename(columns= {'Poverty Estimate, All Ages':'Poverty Estimate All Ages', 'Poverty Percent, All Ages':'Poverty Percent All Ages'})
la15 = la15.assign(year = 2015).set_index('year', append=True)

la20.reset_index(inplace = True, drop = True) 
la20 = la20.drop(columns=['90% CI Lower Bound', '90% CI Upper Bound', '90% CI Lower Bound.1', '90% CI Upper Bound.1', 'Poverty Estimate, Age 0-17','90% CI Lower Bound.2', '90% CI Upper Bound.2', '90% CI Lower Bound.6', '90% CI Upper Bound.6'], axis = 1)

la20 = la20.rename(columns= {'Poverty Estimate, All Ages':'Poverty Estimate All Ages', 'Poverty Percent, All Ages':'Poverty Percent All Ages'})
la20 = la20.assign(year = 2020).set_index('year', append=True)

In [ ]:
la00 = la00.drop(columns=['FIPS State Code', '90% CI Lower Bound','90% CI Upper Bound', '90% CI Lower Bound.1', '90% CI Upper Bound.1','Poverty Estimate, Age 0-17', '90% CI Lower Bound.2','90% CI Upper Bound.2', 'Percent Poverty Estimate, Age 0-17', '90% CI Lower Bound.3','90% CI Upper Bound.3','Poverty Estimate, Age 5-17', '90% CI Lower Bound.4','90% CI Upper Bound.4','Percent Poverty Estimate, Age 5-17', '90% CI Lower Bound.5','90% CI Upper Bound.5', '90% CI Lower Bound.mh', '90% CI Upper Bound.mh','County Name','Postal Code','Tag','Creation Date'], axis = 1)
extracted_col = la05['Name']

la00 = la00.assign(year = 2000).set_index('year', append=True)
la00.head()

,,County FIPS Code,Poverty Estimate All Ages,Poverty Percent All Ages,Median Household Income
,year,,,,
0,2000,0,753254,17.3,32124
1,2000,1,11322,19.6,28022
2,2000,3,4517,21.4,28385
3,2000,5,8282,10.5,45398
4,2000,7,4231,18.4,31923

In [ ]:
la00.columns

Index(['County FIPS Code', 'Poverty Estimate All Ages',
       'Poverty Percent All Ages', 'Median Household Income'],
      dtype='object')